/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General styling */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000; 
    font-family: 'Work Sans', sans-serif;
}

a {
    color: #304B33;
}

.link {
    color: #304B33;
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #304B33;
}

p {
    line-height: 1.5rem;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

button {
    background-color: white;
    border-radius: 100px;
    padding: 15px 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9rem;
    border: 0px;
}

button:hover {
    background-color: #919F93;
    color: white;
}

.topic-tag {
    background-color: #919F93;
    color: white;
    font-size: 0.6rem;
    text-transform: uppercase;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: auto;
    margin-bottom: 20px;
}

.basic-section {
    display: grid;
    justify-content: center;
    padding: 50px 40px;
    margin: auto;
    max-width: 1200px;
}


.basic-image {
    max-width: 80vw;
    padding: 0px 0px;
    display: flex;
    box-sizing: border-box;
    padding-top: 30px;
}

/* Headings */

h1, h2 {
    font-family: 'Lora', serif;
    font-weight: 300;
    margin-bottom: 15px;
}

h1 {
    font-size: 1.9rem;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Header */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 0px 20px #1f1f1f;
}

#main-header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    box-shadow: 0 1px 15px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#header-notice {
    width: 100%;
    background-color: #304B33;
    height: fit-content;
    padding: 5px;
}

#header-notice p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;
}

#logo {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
}

#logo img {
    width: 150px;
}

/* Dropdown toggle navigation styling */

nav {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 20px #1f1f1f;
    display: none;
    top: 110%;
    left: 0.8rem;
    right: 0.8rem;
}

#menu a {
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: black;
}

#menu li {
    list-style-type: none;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 20px;
}

#menu li:last-child {
    border-bottom: 0px;
}

#menu .active {
    color: #919F93;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Content */

main {
    /* makes main content take up space and push footer down */
    flex: 1 0 auto;
    margin-top: 90px;
}

/* Hero Section */

#hero-section {
    background: url('../images/dog.png') no-repeat bottom center/cover;
    height: 90vh;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    justify-content: center;
}

#hero-section-content {
    color: white;
    text-align: center;
    padding-top: 70px;
}

#hero-section-content button {
    margin-top: 30px;
}

/* About me seciton */

#about-me {
    text-align: center;
    padding-top: 70px;
}

/* Services section */

.service {
    background-color: #F9F5F2;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
}

.fa-paw, .fa-moon, .fa-dog {
    font-size: 1.7rem;
    color: #919F93;
    margin-bottom: 10px;
}

.price {
    font-weight: 600;
    font-size: 1.2rem;
}

/* Gallery section */

#gallery img {
    width: 100%;
    border-radius: 10px;
    /* line-height for alt text */
    line-height: 1rem;
}

#gallery {
    line-height: 2rem;
}


/* Footer */

footer {

}

/* Media Query */

@media screen and (min-width: 576px) { 
#gallery {
    column-count: 2;
    column-gap: 0.7rem;
}
}

/* Large devices (laptops and desktops, 768px and up) */

@media screen and (min-width: 768px) {

    
    /* Headings*/

    h1 {
        font-size: 3rem;
    }

    /* Header */

    nav {
        position: relative;
        box-shadow: 0 0px 0px;
        display: flex;
    }

    .nav-toggle-label {
        display: none;
    }
    
    #menu a {
        font-size: 1rem;
        color: black;
    }
    
    #menu li {
        border-bottom: 0px;
        display: inline-block;
    }
    
    #menu .active {
        color: #919F93;
    }
   
    /* Content */ 

    #hero-section {
        background: url('../images/background-desktop.png') no-repeat bottom center/cover;
        justify-content: left;
        align-items: center;
    }

    #hero-section-content {
        text-align: left;
        padding-left: 100px;
        max-width: 50vw;
    }

    /* About me section */

    #about-me {
        display: flex;
    }

    #about-me-content {
        width: 50%;
        padding-right: 30px;
        text-align: left; 
        margin: auto;
    }

    #about-me-content h2 {
        text-align: left; 
    }

    #about-me-content .topic-tag {
        margin: 20px 0;
    }

    #about-me-image {
        width: 50%;
    }

    #about-me-image img {
        width: 100%;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1200px) {    

    
    /* Services section */

    #presented-services {
        display: flex;
        gap: 20px;
    }

        /* Gallery */

        #gallery {
            column-count: 3;
            column-gap: 0.7rem;
        }
    }

