/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* General styling */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000; 
    font-family: 'Work Sans', sans-serif;
}

a {
    color: #919F93;
}

/* Headings */

h1, h2 {
    font-family: 'Lora', serif;
}

/* Header */

header {
    background-color: #fff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 15px #3a3a3a;
}

#logo {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
}

/* Dropdown navigation styling */

nav {
    position: absolute;
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 0px 20px #1f1f1f;
    display: none;
}

#menu a {
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: black;
}

#menu li {
    list-style-type: none;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 20px;
}

#menu li:last-child {
    border-bottom: 0px;
}

#menu .active {
    color: #919F93;
}

/* Content */

main {
    background-color: red;
    /* makes main content take up space and push footer down */
    flex: 1 0 auto;
}


/* Footer */

footer {

}